body{
    padding: 0px;
    margin: 0px;
    background:#000000;
    z-index: -100;
    overflow-x: hidden;
    min-width: 200px;
    min-height: 480px;
    font-family: system-ui;
    color: white;
}
.content{
    margin: 20px;
    padding: 0;
    background-color: transparent;
    text-align: center;
}
